<h1>
  Reapp Voucher
</h1>

<div>
  <input
    name="cin"
    id="cin"
    type="file" (change)="fileChangeEvent($event)" multiple >

  <!--<button (click)="fileInput.click()">Select File</button>-->
  <button type="button" (click)="upload()">Upload!</button>

  <!--<form (ngSubmit)="onSubmit()">-->
    <!--<input type="file" accept=".png, .jpg, .jpeg" #image>-->
    <!--<button (click)="onSubmit()">Upload!</button>-->
  <!--</form>-->

  <table style="width:100%">
    <tr>
      <th>Voucher Company</th>
      <th>Voucher Count</th>
      <th>Icon</th>
      <th>Description</th>

    </tr>
    <tr *ngFor="let voucher of voucher_list">
      <td> {{ voucher.voucher_company }} </td>
      <td> {{ voucher.count }} </td>
      <td> <img src="{{ voucher.icon }}"/> </td>
      <td> {{ voucher.description }} </td>
    </tr>

  </table>
</div>
